.container-fluid .navbar-brand  { font-size: 2em; }
.container-fluid { width:100%!important; background:#eaeaea }

#Figures ul li:first-child { margin-left:0.5em }

#Copyright a.navbar-brand { font-size:1.5em }

.border-l {
    border-left: 1px solid #CCC 
}

.border-r {
    border-right: 1px solid #CCC
}



#SchoolNav { width:100%!important }

#MainSearch {
    float: right;
    width: 15em
}

#SchoolNav input[type='text'] {
    width: 10em;
    margin-right: 0.5em
}

.nav > li {
    padding: 1em 1em 0 1em;
}

#Figures ul li { margin: 0 0.5em }
#Figures ul li:first-child {
    margin-left: 2em;
}




.container-fluid#Temporary {
    background:#FFF;
    position: relative;
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: top;
}

#Temporary .container {
    color: #000;
    background-color: #FFF;
    padding-right: 3em
}

#Temporary .well {
    background: #FFF;
    height: auto;
    max-height: none;
    margin-top: 2em;
    text-align: center;
    float: left;
    width:auto
}

#Temporary .btn-default {
    background: #999;
    position: relative;
    bottom: initial;
}

#Figures {
    margin-top: -5em;
    background:none
}
